/* .nav-btn {
    position: relative;
    border-color: transparent;
    background-color: transparent;
    color: #484848;
    overflow: hidden;
    transition: all 0.35s;
}
.nav-btn span {
    position: relative;
    z-index: 2;
}
.nav-btn::before, .nav-btn::after {
    width: 100%;
    height: 50%;
    position: absolute;
    left: 0;
    background-color: white;
    transition: all 0.25s;
    content: "";
    z-index: 1;
    color:black
}
.nav-btn::before {
    top: 0;
    transform: translate(-100%, 0);
}
.nav-btn::after {
    bottom: 0;
    transform: translate(100%, 0);
}
.nav-btn:hover, .nav-btn a:hover {
    color: black;
}
.nav-btn:hover::before, .nav-btn:hover::after {
    transform: translate(0, 0);
} */